version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: musicmatch
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    command: /app/start.sh
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:80"
    depends_on:
      - db
    environment:
      DB_NAME: musicmatch
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_HOST: db
      DB_PORT: 5432
      DEBUG: "True"
      USE_SQLITE: "False"

volumes:
  postgres_data:
  static_volume:
  media_volume:

